 <% provide(:titre , "partenaires") %>
<%= render 'layouts/menu' %>
<!-- main of the page -->
    <main id="main">
      <!-- banner of the page -->
      <section class="banner bg-full overlay back9">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h1 class="main-heading3 text-uppercase">NOS PARTENAIRES</h1>
              <!-- breadcrumbs of the page -->
              <nav class="breadcrumbs text-center">
                <ul class="list-unstyled">
                  <li><a href="<%= root_path %>">Acceuil</a></li>
                  <li>></li>
                  <li>Partenaires</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!-- project sec of the page -->
      <div class="project-sec style2">

        <div class="container">
          <% if user_signed_in? %>
                 <%= link_to 'Ajouter un nouveau partenaire', new_partenaire_path , class: "btn btn-primary" %>
              <% end %>
        </div>
        
          <div class="row">
            <div class="col-xs-12">
              <!-- project holder of the page -->
              <div class="container">
              <div class="project-holder">
                <!-- col of the page -->
                <% @partenaires.each do |partenaire| %>
                  <div class="col overlay building">
                    <%= image_tag( partenaire.image.url(:thumb), alt: "image description", class: "img-responsive") %>
                    <div class="over text-center">
                      
                      <% if user_signed_in? %>
                         <%= link_to 'Suprimer', partenaire, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %> <%= link_to 'Modifier', edit_partenaire_path(partenaire) , class:"btn btn-Light"%></td>
                      <% end %>
                      
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            </div>
          </div>
          
        </div>
      </div>
    </main>









