<%= render 'layouts/menu' %>
 <!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Ajouter un nouveau partenaire</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>


			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
				<h2>Nouveau partenaire</h2>
							<fieldset>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-12">
											<div class="checkout-sec">
											<fieldset>
							   				<div class="form-group">
												<%= render 'form' %>									
											</div>
							

											</fieldset>
										</div>
											
											
										</div>
									</div>
								</div>
							

							</fieldset>
					</div>


					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= applications_path %>">Liste de tous les candidats</a></li>
								<li><a href="<%= new_project_path %>">Ajouter un nouveau projet</a></li>

								
							</ul>
						</div>
					</div>


				</div>

		
 <div class="project-sec style2">
			 <div class="row">
                <div class="col-xs-12">
              <!-- project holder of the page -->
                  <div class="container">
                      <div class="project-holder">
                <!-- col of the page -->
                         <% @partenaires.each do |partenaire| %>
                      <div class="col overlay building">
                         <%= image_tag( partenaire.image.url(:thumb), alt: "image description", class: "img-responsive") %>
                      <div class="over text-center">
                      
                         <% if user_signed_in? %>
                         <%= link_to 'Suprimer', partenaire, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %> <%= link_to 'Modifier', edit_partenaire_path(partenaire) , class:"btn btn-Light"%></td>
                         <% end %>
                      
                     </div>
                     </div>
                        <% end %>
                      </div>
                   </div>
             </div>
         </div>
     </div>
    
		</section>










