<div class="checkout-sec">
<%= simple_form_for @application do |f| %>
  <%= f.input :nom %>
  <%= f.input :prenom %>
  <%= f.input :adresse %>
  <%= f.input :codepostal %>
  <%= f.input :ville %>
  <%= f.input :telephone %>
  <%= f.input :email %>
  <%= f.input :message %>
  <div class="form-group">
    <label for="exampleFormControlFile1">Lettre de motivation</label>
    <%= f.file_field :lettre, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">CV</label>
    <%= f.file_field :cv, class: "form-control-file" %>
  </div>
  
  <br>
  
  <%= f.button :submit, class: "btn text-center text-uppercase" %>

<% end %>
</div>