
			<!-- faq sec of the page -->
			<div class="faq-sec container">
				<div class="row">
					<div class="col-xs-12">
						<!-- accordion of the page -->
						<ul class="accordion list-unstyled">
							<li class="active">
								<a class="opener" href="#">QUI SOMMES NOUS  <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
								<div class="slide">
									<p>Chaque client a une problématique spécifique qui nécessite une réponse sur-mesure. Notre expérience, et la variété des sites et des secteurs dans lesquels nous sommes présents, nous permettent d’enrichir nos offres sur la durée en s’engageant dans un processus d’amélioration continue.</p>
									<p>EMARéB accompagne votre performance dans la durée, avec une offre de facility management sur-mesure et une responsabilité unique.</p>
									<p>Vous recherchez un opérateur unique, capable de prendre en charge et d’optimiser tout ou partie de vos services généraux. Vous lui demandez d’intégrer les évolutions techniques et réglementaires, notamment en matière de performance énergétique. Grâce à l’étendue de ses expertises et à la densité de son réseau Vous choisissez l’étendue des services que vous souhaitez nous confier dans le cadre d‘une offre qui organise nos savoir-faire autour de vos attentes :</p>
									<p>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Maintenance technique<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Service aux occupants<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Travaux associés<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Performance énergétique<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Travaux associés<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Performance énergétique<br>
									<i class="fa fa-circle" ></i>&nbsp; Reporting et gestion des demandes<br>
									<i class="fa fa-circle" ></i>&nbsp; Aménagement et décoration d’espaces<br>
								</div>
							</li>
							<li>
								<a class="opener" href="#">NOTRE VISION  <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
								<div class="slide">
									<p>Notre approche sur-mesure apporte la flexibilité nécessaire pour évoluer à votre rythme d’un modèle
partiellement intégré à un modèle entièrement intégré. Notre expérience auprès de nombreux clients et
notre réseau d’entreprises favorisent la mutualisation de bonnes pratiques, l’optimisation des procès et des
modèles économiques.</p><b>L’innovation continue</b><br>Notre modèle, qui privilégie l’autonomie et la responsabilité, incite aux innovations du terrain. Ces innovations, simples ou complexes et identifiées localement, sont ensuite déployées à plus large échelle grâce à une équipe support qui accompagne les entreprises pour développer l’innovation, ou la susciter. <br><i class="fa fa-chevron-circle-right" ></i>&nbsp;Outils métiers, offres ciblées, efficacité opérationnelle, sont valorisés puis diffusés.</p>
								</div>
							</li>
							<li>
								<a class="opener" href="#">VOS BENEFICES <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
								<div class="slide">
									<p>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Un modèle qui associe performance et attractivité<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; L’optimisation des coûts des services liés aux bâtiments et à leurs occupants<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; la maîtrise de vos consommations énergétiques<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; un environnement de travail attractif et une logistique simplifiée pour vos collaborateurs<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; une meilleure valorisation de vos actifs immobiliers<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Nos leviers de performance<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Nous internalisons la quasi-totalité des prestations techniques et de façon partielle les autres services. Nos équipes sont régulièrement formées.<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Un double dimension, locale et globale<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Grâce à nos entreprises implantées localement, nos clients jouissent d’une forte proximité qui permet le partenariat et la réactivité.<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Le pilotage de l’ensemble des activités et une responsabilité unique face au client.<br></p>

									
								</div>
							</li>
							
							
						</ul>
					</div>
				</div>
			</div>
			<!-- client sec of the page -->
			<div class="client-sec container">
				<div class="row">
					<div class="col-xs-12 line-box">
						<div class="col-xs-12 text-center">
						<h3 class="main-heading">NOS REFERENCES</h3>
					</div>
						<!-- client logo of the page -->
						<ul class="list-unstyled client-logo line ">
							<li><%= image_tag('r1', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r2', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r3', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r4', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r5', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r6', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r7', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r8', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r9', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r10', alt: "image description", class: "img-responsive sizer") %></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="promo-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p>Vous vous engagez…Nous aussi   </p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <a href="#" class="btn text-center text-uppercase">Contact</a>
            </div>
          </div>
        </div>
      </div>
			
	
