 <% provide(:titre , "about") %>
			<!-- header area of the page -->
			<%= render 'layouts/menu' %>
		<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back8">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Vous vous engagez... Nous aussi!</h1>
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li>Apropos</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>

			<% if params[:page].present? && params[:page] == "notre-vision" %>
				<%= render "pages/about/notrevision"%>
			<% elsif params[:page].present? && params[:page] == "vos-benefices" %>
				<%= render "pages/about/vosbenefices"%>
			<% else %>
				<%= render "pages/about/quisommenous"%>
			<% end %>
		
		</main>
		
