<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back41">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Climatisation</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Climatisation</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<img src="http://placehold.it/770x330" alt="image description" class="img-responsive">
						</div>
						<h2>Climatisation</h2>
						<span class="fst"><b>&nbsp; Travaux sur bâtiments neufs ou rénovations :</b><br>
                                    <i class="fa fa-chevron-circle-right" ></i>&nbsp; Etudes techniques et dimensionnement<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Conception d’installations frigorifiques et distribution de froid<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Installation de pompes à chaleur (réversibles)<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Optimisation et transformation d’installations existantes<br>
									<b>&nbsp; Maintenance et l’Exploitation des installations techniques :</b><br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Maintenance d’installations frigorifiques et distribution de froid<br></span>
									<span class="scd"><i class="fa fa-chevron-circle-right" ></i>&nbsp; Optimisation et réglage des installations frigorifiques<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; IRégulation MCR<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Mise en service – Audit – Suivi énergétique<br>
									<b>&nbsp; Notre valeur ajoutée :</b><br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Conseil pour l’emploi de fluides frigorigènes adaptés<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Engagement de performance énergétique</span>

									
						            
						            
									
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- client sec of the page -->
			<div class="client-sec container">
				<div class="row">
					<div class="col-xs-12 line-box">
						<div class="col-xs-12 text-center">
						<h3 class="main-heading">NOS REFERENCES</h3>
					</div>
						<!-- client logo of the page -->
						<ul class="list-unstyled client-logo line ">
							<li><%= image_tag('r1', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r2', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r3', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r4', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r5', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r6', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r7', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r8', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r9', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r10', alt: "image description", class: "img-responsive sizer") %></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
