 <%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-parallax overlay back11">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Contacter Nous</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li>Contacter Nous</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- contact sec of the page -->
			<section class="contact-sec container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<h3>Contact Information</h3>
						<!-- Contact list of the page -->
						<ul class="list-unstyled contact-list">
							<li>
								<span><%= fa_icon "address-card" %></span>
								<address>Bd Allal Al Fassi Villa N 989 <br>Secteur 5 Hay Salam Salé 11030</address>
							</li>

							<li>
								<span><%= fa_icon "envelope" %></span>
								<a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
							</li>
							<li>
								<span><%= fa_icon "phone" %></span>
								<a href="tel:18005596580">066115 5615</a>
							</li>
						</ul>
						<h3>Heure du travail</h3>
						<!-- Hour list of the page -->
						<ul class="list-unstyled hour-list">
							<li>Notre support  24 / 7</li>
							<li>Lundi – Vendredi: 9am-6pm</li>
							<li>Samedi: 10am-4pm</li>
							<li>Dimanche: 10am-1pm</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h3 class="marg">Prenez contact avec nous</h3>
						<p>Si vous avez des questions, n'hésitez pas à nous envoyer un message</p>
						<!-- Contact Form of the page -->
						<form action="#" class="contact-form">
							<fieldset>
								<div class="form-group">
									<div class="col">
										<input type="text" class="form-control" placeholder="Your Name">
									</div>
									<div class="col">
										<input type="email" class="form-control" placeholder="Your Email">
									</div>
								</div>
								<textarea class="form-control" placeholder="Your Message"></textarea>
								<button type="submit" class="btn text-uppercase text-center md-round">Envoyez</button>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<!-- map sec of the page -->
			<section class="map-sec">
				<div class="map" data-lat="52.392363" data-lng="1.480408" data-zoom="8">
					<div class="map-info">
            			<h2 class="text-uppercase">EMARéB</h2>
            			<address>Bd Allal Al Fassi Villa N 989 <br>Secteur 5 Hay Salam Salé 11030</address>
        			</div>
        		</div>
			</section>
		</main>
