<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Facility Management</h1>
							<h3>Les Prestations Facility Management </h3>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Facility</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<%= image_tag('facility', alt: "image description", class: "img-responsive") %>
						</div>
						<h2>Facility Management</h2>
						<span class="fst">EMAREB  vous propose ses services de Facility Management, soit une gestion globale de tous vos équipements techniques avec un interlocuteur unique et une organisation à taille humaine.<br>Nous intégrons nos compétences métier CVCR (Chauffage, Ventilation, Climatisation et régulation) et organisons les prestations liées aux ascenseurs, les portes automatiques, les groupes de secours, </span>
						<span class="scd">l'électricité, le sanitaire, la serrurerie, la sécurité incendie, le nettoyage de vos locaux et des parkings, etc… Autrement dit, un service de Facility Management clé en main.<br>Notre offre de Facility Management est sur mesure et adaptée à vos besoins.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>


				</div>

			</section>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								NOUS OFFRONS UN SERVICE RAPIDE ET ABORDABLE POUR VOS PROJETS!</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
