<%= render 'layouts/menu' %>

<main id="main">
			<!-- main slider of the page -->
			<!-- main slider of the page -->
			<section class="main-slider slider3">
				<!-- slide of the page -->
				<div class="slide bg-full overlay back3">
					<div class="caption text-center">
						<h1 class="text-uppercase">Un modèle qui associe <br>performance et attractivité</h1>
						<p>Une responsabilité unique face au client</p>
						<a href="<%= contact_path %>" class="btn active text-center text-uppercase">CONTACT</a>
					</div>
					
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay back2">
					<div class="caption text-center">
						<h1 class="text-uppercase">Le sens de responsabilité <br>et l’esprit d’équipe </h1>
						<p>Un management fondé sur la confiance</p>
						<a href="#" class="btn active text-center text-uppercase">NOUS REJOINDRE</a>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay back1">
					<div class="caption text-center">
						<h1 class="text-uppercase">Une gestion globale de tous vos<br> équipements techniques </h1>
						<p>avec un interlocuteur unique et une <br>organisation à taille humaine</p>
						<a href="<%= nosmetiers_path %>" class="btn active text-center text-uppercase">NOS METIERS</a>
					</div>
				</div>

			</section>


			<div class="promo-box style2 md-round container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<p class="textInterv">
							<%= image_tag('call.png', alt: "image description", class: "logoInterv") %>
							EMARéB INTERVENTION
						</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<a href="tel:+212661155615" class="call text-center md-round telInterv"> 06 61 15 56 15</a>
					</div>
				</div>
			</div>

			



			<!-- blog sec of the page -->
			<section class="blog-sec container pad-t">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="main-heading text-uppercase">Toujours proche de vos projets</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<%= image_tag('7.png', alt: "image description", class: "img-responsive") %>
								<div class="over">
									
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"></h3>
								
								<p></p>
								<a href="<%= nosmetiers_path %>" class="read-more text-uppercase"><b>NOS METIERS</b></a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<%= image_tag('6.png', alt: "image description", class: "img-responsive") %>
								<div class="over">
									
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"></h3>
								
								<p></p>
								<a href="<%= projects_path %>" class="read-more text-uppercase">Une prèsence quotidienne sur le chantier</a>
								
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<%= image_tag('5.png', alt: "image description", class: "img-responsive") %>
								<div class="over">
									
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"></h3>
								
								<p></p>
								<a href="<%= partenaires_path %>" class="read-more text-uppercase">NOS PARTENAIRES</a>
							</div>
						</div>
					</div>
				</div>
			</section>


			
			
			<!-- help  sec of the page -->
			<section class="help-sec bg-full back4 ">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="holder ">
								<h3 class="main-heading text-uppercase"></h3>
								<p style= "font-size: 20px;"><b>Notre équipe, régulièrement formée, est au fait des évolutions des gammes de maintenance pour répondre à vos exigences</b></p>
								
								<a href="<%= contact_path %>" class="btn active text-center text-uppercase">Contact</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="img-holder">
								<%= image_tag('img13', alt: "image description", class: "img-responsive") %>
							</div>
						</div>
					</div>
				</div>
			</section>
			

			
			

</main>