<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back2">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Installation</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Installation</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<img src="http://placehold.it/770x330" alt="image description" class="img-responsive">
						</div>
						<h2>Installation</h2>
						<span class="fst">Une équipe hautement qualifiée, regroupant ingénieurs, techniciens, dessinateurs et monteurs, est à votre service afin d'étudier et d'installer des systèmes de chauffage, de ventilation et de climatisation dans tous types d'immeubles résidentiels ou industriels.<br>Nos experts vous conseilleront sur les équipements les mieux adaptés. Quel que soit le type d'installation, </span>
						<span class="scd">vous pouvez compter sur EMAREB  pour sa compétence et la compétitivité de ses coûts.<br>Notre entreprise a une grande expérience, tant dans le domaine de l'installation que de la maintenance, de la production de chaleur industrielle .Nous sommes en mesure d'étudier la rentabilité de tel projet et d'en maîtriser le concept technique.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
