<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back2">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Maintenance curative</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Maintenance curative</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<%= image_tag('mc.jpg', alt: "image description", class: "img-responsive") %>
						</div>
						<h2>Maintenance curative</h2>
						<span class="fst">Les opérations de maintenance curative découlent généralement d’une demande d’intervention émanant du client et nos objectifs sont précis dans ce cadre d’intervention :<br>
							<i class="fa fa-chevron-circle-right" ></i>&nbsp; Limiter les risques pour les opérateurs. <br>
							<i class="fa fa-chevron-circle-right" ></i>&nbsp; Ne pas entraver vos campagnes de production avec des arrêts techniques. <br>
							<i class="fa fa-chevron-circle-right" ></i>&nbsp; Limiter les risques de pénalités rattachés au marché en question. <br>
							<i class="fa fa-chevron-circle-right" ></i>&nbsp; Éviter une usure précoce de vos équipements. <br>
                        </span>
						<span class="scd"> Pour ce faire, l’agent dispose des équipements nécessaires à la réalisation des dépannages. Après avoir sécurisé l’installation et la zone d’intervention, il constate le dysfonctionnement ou la panne et émet son diagnostic.<br>Il prend les dispositions nécessaires en fonction de la problématique pour remettre en service l’installation en toute sécurité. Le chargé d’affaires est présent en tant que soutien afin de répondre aux problèmes techniques plus complexes.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Toujours proche de vos projets</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</section>
		
		</main>