<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back91">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Maintenance préventive</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Maintenance préventive</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<img src="http://placehold.it/770x330" alt="image description" class="img-responsive">
						</div>
						<h2>Maintenance préventive</h2>
						<span class="fst">La maintenance préventive constitue l’ensemble des opérations visant à maintenir un équipement, un ensemble d’équipements en état de bon fonctionnement et de réduire son taux de défaillance.<br>Notre équipe Maintenance et Services est qualifiée techniquement et habilitée pour intervenir <br>en environnements contrôlés mais aussi en milieux variés tels que l’hôtellerie, les centres de formation, les espaces collectifs, ...</span>
						<span class="scd"> Notre équipe, régulièrement formée, est au fait des évolutions des gammes de maintenance pour répondre à vos exigences particulières, aux évolutions normatives et réglementaires mais aussi aux évolutions technologiques.<br>Les opérations de maintenance préventive sont effectuées durant des temps d’arrêt prédéfinis et nous nous engageons à respecter les délais d’intervention prévus.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- client sec of the page -->
			<div class="client-sec container">
				<div class="row">
					<div class="col-xs-12 line-box">
						<div class="col-xs-12 text-center">
						<h3 class="main-heading">NOS REFERENCES</h3>
					</div>
						<!-- client logo of the page -->
						<ul class="list-unstyled client-logo line ">
							<li><%= image_tag('r1', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r2', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r3', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r4', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r5', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r6', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r7', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r8', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r9', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r10', alt: "image description", class: "img-responsive sizer") %></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>