<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Maintenance</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Maintenance</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<img src="http://placehold.it/770x330" alt="image description" class="img-responsive">
						</div>
						<h2>Maintenance</h2>
						<span class="fst">La fiabilité d'une compagnie de maintenance et de services est sans cesse mise à l'épreuve. <br>Une flotte de Véhicules est prête à intervenir 24h/24. La satisfaction de nos clients se confirme d'ailleurs par un taux de renouvellement des contrats exceptionnellement élevé.</span>
						<span class="scd">Notre objectif, autant pour nos services que pour toutes nos activités, est d'installer un climat de confiance et un partenariat à long terme avec nos clients.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								NOUS OFFRONS UN SERVICE RAPIDE ET ABORDABLE POUR VOS PROJETS!</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
