<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back91">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Maintenance préventive</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Maintenance préventive</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<%= image_tag('mp.jpg', alt: "image description", class: "img-responsive") %>
						</div>
						<h2>Maintenance préventive</h2>
						<span class="fst">La maintenance préventive constitue l’ensemble des opérations visant à maintenir un équipement, un ensemble d’équipements en état de bon fonctionnement et de réduire son taux de défaillance.<br>Notre équipe Maintenance et Services est qualifiée techniquement et habilitée pour intervenir <br>en environnements contrôlés mais aussi en milieux variés tels que l’hôtellerie, les centres de formation, les espaces collectifs, ...</span>
						<span class="scd"> Notre équipe, régulièrement formée, est au fait des évolutions des gammes de maintenance pour répondre à vos exigences particulières, aux évolutions normatives et réglementaires mais aussi aux évolutions technologiques.<br>Les opérations de maintenance préventive sont effectuées durant des temps d’arrêt prédéfinis et nous nous engageons à respecter les délais d’intervention prévus.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Toujours proche de vos projets</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
		</main>