<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back2">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Toujours proche de vos projets</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Toujours proche de vos projets</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<%= image_tag('P', alt: "image description", class: "img-responsive") %>
						</div>
						<h2>Toujours proche de vos projets</h2>
						<span class="fst">La fiabilité d'une compagnie de maintenance et de services est sans cesse mise à l'épreuve. <br>Une flotte de Véhicules est prête à intervenir 24h/24. La satisfaction de nos clients se confirme d'ailleurs par un taux de renouvellement des contrats exceptionnellement élevé.</span>
						<span class="scd">Notre objectif, autant pour nos services que pour toutes nos activités, est d'installer un climat de confiance et un partenariat à long terme avec nos clients.</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- client sec of the page -->
			<div class="client-sec container">
				<div class="row">
					<div class="col-xs-12 line-box">
						<div class="col-xs-12 text-center">
						<h3 class="main-heading">NOS REFERENCES</h3>
					</div>
						<!-- client logo of the page -->
						<ul class="list-unstyled client-logo line ">
							<li><%= image_tag('r1', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r2', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r3', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r4', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r5', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r6', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r7', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r8', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r9', alt: "image description", class: "img-responsive sizer") %></li>
							<li><%= image_tag('r10', alt: "image description", class: "img-responsive sizer") %></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
