<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back81">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Prestations Facility Management</h1>
							<h3>Facility Management </h3>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li><a href="<%= nosmetiers_path %>">Nos metiers</a></li>
									<li>></li>
									<li>Facility</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- Service detail of the page -->
			<section class="service-detail container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<div class="img-holder">
							<%= image_tag('facility', alt: "image description", class: "img-responsive") %>
						</div>
						<h2>Prestations Facility Management</h2>
						
						<span class="fst">
                                    <i class="fa fa-chevron-circle-right" ></i>&nbsp; Maintenance préventive de l’ensemble des équipements techniques et installations<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Maintenance préventive et curative des installations électriques Basse Tension et Moyenne Tension<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Analyse, suivi et optimisation énergétiques avec engagement d’économies<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Mise en place et gestion de supervision à distance<br>
									</span>
									<span class="scd"><i class="fa fa-chevron-circle-right" ></i>&nbsp; Rapport d’activités et de gestion (reporting mensuel, trimestriel, semestriel et bilan annuel)<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Gestion et pilotage du budget technique<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Engagement contractuel de performances<br>
									
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Dépannage 24 h/24 toute l’année<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Proposition d’améliorations des installations<br>
								   <i class="fa fa-chevron-circle-right" ></i>&nbsp; Veille technologique et réglementaire</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="widget">
							<ul class="side-nav list-unstyled">
								<li><a href="<%= facility_path %>">Facility Management</a></li>
								<li><a href="<%= prestation_path %>">Prestations Facility Management </a></li>
								<li><a href="<%= climatisation_path %>">Climatisation</a></li>
								<li><a href="<%= instalation_path %>">Installation</a></li>
								<li><a href="<%= maintenance_path %>">Maintenance</a></li>
								<li><a href="<%= maintenancep_path %>">Maintenance préventive</a></li>
								<li><a href="<%= maintenancec_path %>">Maintenance curative</a></li>
							</ul>
						</div>
					</div>


				</div>

			</section>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</main>
