<%= render 'layouts/menu' %>

<main id="main">
      <!-- banner of the page -->
      <section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h1 class="main-heading3 text-uppercase">NOS OFFRES</h1>
              <!-- breadcrumbs of the page -->
              <nav class="breadcrumbs text-center">
                <ul class="list-unstyled">
                  <li><a href="home.html">Aceuil</a></li>
                  <li>></li>
                  <li>Offres</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!-- faq sec of the page -->
      <div class="faq-sec container">
        <div class="row">
          <div class="col-xs-12">
            <!-- accordion of the page -->
            <ul class="accordion list-unstyled">
              <% if user_signed_in? %>
              <%= link_to 'Ajouter une nouvelle offre', new_offre_path , class: "btn btn-primary" %>
              <% end %>
              <br>
              <br>
              <% @offres.each do |offre| %>
              <li>
                <a class="opener" href="#"><%= offre.title %> <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
                <div class="slide">
                  <p><%= offre.content %></p>
                  <% if user_signed_in? %>
                  <div>
                      
                      <%= link_to 'Suprimer', offre, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %> <%= link_to 'Modifier', edit_offre_path(offre) , class:"btn btn-primary"%></td>
                  </div>

                  <% end %>
                </div>
              </li>
              <% end %>
              
            </ul>
          </div>
        </div>
      </div>

    </main>
    <div class="promo-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p>REJOINDRE Emareb, C’EST PARTAGER AVEC SES COLLABORATEURS LES PROJETS ET LES RÉUSSITES D’UN ACTEUR DE RÉFÉRENCE EN MATIÈRE DE MAINTENANCE MULTI-TECHNIQUE ET DE FACILITY MANAGEMENT.</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <a href="<%= new_application_path %>" class="btn text-center text-uppercase">Nous Rejoinre</a>
            </div>
          </div>
        </div>
      </div>


