<!DOCTYPE html>
<html>
  <head>
    <title>Emareb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Average+Sans|Chela+One|Tauri" rel="stylesheet">
  

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
